{% extends 'links.html' %}
{% load static %}
{% block content %}
<section class="slice slice-lg py-7 py-lg-8 bg-cover bg-size--cover"
    style="background-image:url({% static '/img/backgrounds/p3.jpg' %} )"> <span class="mask bg-dark opacity-9"></span>
    <div data-offset-top=#navbar-main>
        <div class="container pt-xl-4">
            <div class="row justify-content-center">
                <div class=col-lg-9>
                    <h2 class="mb-4 text-center text-white">Enter name of the book</h2>
                    <form>
                        <div class="form-group bg-neutral rounded-pill mb-0 px-2 py-2 shadow">
                            <div class=row>
                                <div class=col>
                                    <div class="input-group input-group-merge shadow-none">
                                        <div class=input-group-prepend><span
                                                class="input-group-text bg-transparent"><i
                                                    data-feather=search></i></span></div>
                                        <input type=text class="form-control form-control-flush shadow-none"
                                            placeholder="Search for the books">
                                    </div>
                                </div>
                                <div class=col-auto><button type=button
                                        class="btn btn-block btn-warning rounded-pill">Search</button></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container position-relative zindex-100">
            <div class="my-5 text-center">
                <h6 class="text-white font-weight-light mb-0">or choose a category to search from
                </h6>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9 col-xl-12">
                    <div class="row nav">
                        <div class="col-xl-3 col-lg-6 mb-xl-n8" data-toggle="tab" href="#all">
                            <div class="card hover-translate-y-n10 hover-shadow-lg">
                                <div class="card-body p-5 text-center">
                                    <div class=pb-4><img alt="Image placeholder" src="{% static '/img/svg/icons/Code.svg ' %}"
                                            class="svg-inject img-fluid" style=height:40px></div>
                                    <div class=pt-2><a href=# class="h6 stretched-link mb-0">All Books</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 mb-xl-n8" data-toggle="tab" href="#borr">
                            <div class="card hover-translate-y-n10 hover-shadow-lg">
                                <div class="card-body p-5 text-center">
                                    <div class=pb-4><img alt="Image placeholder" src="{% static '/img/svg/icons/Book.svg'%}"
                                            class="svg-inject img-fluid" style=height:40px></div>
                                    <div class=pt-2><a href=# class="h6 stretched-link mb-0">Books Issued</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 mb-xl-n8" data-toggle="tab" href="#sub">
                            <div class="card hover-translate-y-n10 hover-shadow-lg">
                                <div class="card-body p-5 text-center">
                                    <div class=pb-4><img alt="Image placeholder" src="{% static '/img/svg/icons/Task.svg'%}"
                                            class="svg-inject img-fluid" style=height:40px></div>
                                    <div class=pt-2><a href=# class="h6 stretched-link mb-0">Books Submitted</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-6 mb-xl-n8" data-toggle="tab" href="#del">
                            <div class="card hover-translate-y-n10 hover-shadow-lg">
                                <div class="card-body p-5 text-center">
                                    <div class=pb-4><img alt="Image placeholder"
                                            src="{% static '/img/svg/icons/Calendar.svg'%}" class="svg-inject img-fluid"
                                            style=height:40px></div>
                                    <div class=pt-2><a href=# class="h6 stretched-link mb-0">Books Delayed</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape-container shape-position-bottom">
        <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 1000 100" preserveAspectRatio=none>
            <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
        </svg>
    </div>
</section>
<section class="slice slice-lg">
    <div class=container>
        <div class="card">
            <div class="card-body row align-items-center">
                <div class="col-md-12 col tab-content">
                    <div class="tab-pane fade-in active" id="all">
                        <div class="row mb-5 justify-content-center text-center">
                            <div class="col-lg-8 col-md-10">
                                <h2 class=mt-4>All Books</h2>
                                <div class=mt-2>
                                    <p class="lead lh-180">All the books in the library will be shown here</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">Book Id</th>
                                        <th scope="col">Book Name</th>
                                        <th scope="col">Author Name</th>
                                        <th scope="col">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>20</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>11</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="borr">
                        <div class="row mb-5 justify-content-center text-center">
                            <div class="col-lg-8 col-md-10">
                                <h2 class=mt-4>Books Issued</h2>
                                <div class=mt-2>
                                    <p class="lead lh-180">Books which have been issued will be shown here</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class="thead-dark ">
                                    <tr>
                                        <th scope="col">Book Id</th>
                                        <th scope="col">Book Name</th>
                                        <th scope="col">Student's Name</th>
                                        <th scope="col">Issued date</th>
                                        <th scope="col">Expected Return date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>20/02/2020</td>
                                        <td>30/02/2020</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>11/03/2020</td>
                                        <td>21/03/2020</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>01/03/2020</td>
                                        <td>11/03/2020</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="sub">
                        <div class="row mb-5 justify-content-center text-center">
                            <div class="col-lg-8 col-md-10">
                                <h2 class=mt-4>Books Submitted</h2>
                                <div class=mt-2>
                                    <p class="lead lh-180">All the submitted books will be shown here</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class="thead-dark ">
                                    <tr>
                                        <th scope="col">Book Id</th>
                                        <th scope="col">Book Name</th>
                                        <th scope="col">Student's Name</th>
                                        <th scope="col">Submit date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>20/02/2020</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>11/03/2020</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>01/03/2020</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="del">
                        <div class="row mb-5 justify-content-center text-center">
                            <div class="col-lg-8 col-md-10">
                                <h2 class=mt-4>Books Delayed</h2>
                                <div class=mt-2>
                                    <p class="lead lh-180">All books which are delayed to return will be shown
                                        here</p>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table text-center">
                                <thead class="thead-dark ">
                                    <tr>
                                        <th scope="col">Book Id</th>
                                        <th scope="col">Book Name</th>
                                        <th scope="col">Student's Name</th>
                                        <th scope="col">Issued date</th>
                                        <th scope="col">Return date</th>
                                        <th scope="col">Due</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>20/02/2020</td>
                                        <td>30/02/2020</td>
                                        <td>40</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>11/03/2020</td>
                                        <td>21/03/2020</td>
                                        <td>50</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>01/03/2020</td>
                                        <td>11/03/2020</td>
                                        <td>70</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row mt-5 pt-5 justify-content-center">
            <div class=col-lg-8>
                <div class="row align-items-center">
                    <div class=col-lg-7>
                        <h3 class="text mb-2">Want to add or remove book?</h3>
                    </div>
                    <div class="col-lg-5 text-lg-right mt-4 mt-lg-0">
                        <a href="update" class="btn btn-dark my-2 ml-0 ml-sm-3" target=_blank>Update
                            Books</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}