{% extends 'links.html' %}
{% load static %}
{% block content %}
<section class="slice slice-lg bg-dark">
    <div class="container pt-5 pb-8">
        <div class="row justify-content-center">
            <div class=col-lg-9>
                <h2 class="text-center text-light display-3 font-weight-bolder">How can we help?</h2>
            </div>
        </div>
    </div>
    <div class="shape-container shape-position-bottom">
        <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 1000 100" preserveAspectRatio=none>
            <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
        </svg>
    </div>
</section>
<section class="slice slice-lg" id=sct-faq>
    <div class=container>
        <div class="row row-grid">
            <div class=col-lg-3>
                <div data-toggle=sticky data-sticky-offset=50>
                    <div class=card>
                        <div class="list-group list-group-flush">
                            <a href=#borrow_return_books data-scroll-to data-scroll-to-offset=50
                                class="list-group-item list-group-item-action d-flex justify-content-between">
                                <div><i data-feather=layout class=mr-2></i> <span>Borrow / Return books</span></div>
                                <div><i data-feather=chevron-right></i></div>
                            </a>
                            <a href=#request_book data-scroll-to data-scroll-to-offset=50
                                class="list-group-item list-group-item-action d-flex justify-content-between">
                                <div><i data-feather=sliders class=mr-2></i> <span>Request books</span></div>
                                <div><i data-feather=chevron-right></i></div>
                            </a>
                            <a href=#refund data-scroll-to data-scroll-to-offset=50
                                class="list-group-item list-group-item-action d-flex justify-content-between">
                                <div><i data-feather=edit-3 class=mr-2></i> <span>Refund</span></div>
                                <div><i data-feather=chevron-right></i></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 ml-lg-auto">
                <div class=mb-5>
                    <h4 class=mb-4 id=borrow_return_books>Borrow / Return books</h4>
                    <div id=accordion-1 class="accordion accordion-spaced">
                        <div class=card>
                            <div class="card-header py-4" id=heading-1-1 data-toggle=collapse role=button
                                data-target=#collapse-1-1 aria-expanded=false aria-controls=collapse-1-1>
                                <h6 class=mb-0>How many books can i borrow at a time?</h6>
                            </div>
                            <div id=collapse-1-1 class=collapse aria-labelledby=heading-1-1 data-parent=#accordion-1>
                                <div class=card-body>
                                    <p>You can borrow 3 books at a time.If you want to borrow more books you can borrow
                                        by paying extra chages for that.</p>
                                </div>
                            </div>
                        </div>
                        <div class=card>
                            <div class="card-header py-4" id=heading-1-2 data-toggle=collapse role=button
                                data-target=#collapse-1-2 aria-expanded=false aria-controls=collapse-1-2>
                                <h6 class=mb-0>How can i extend the return date?
                                </h6>
                            </div>
                            <div id=collapse-1-2 class=collapse aria-labelledby=heading-1-2 data-parent=#accordion-1>
                                <div class=card-body>
                                    <p>You can come to library on the issued return date and get an extended return
                                        date.</p>
                                </div>
                            </div>
                        </div>
                        <div class=card>
                            <div class="card-header py-4" id=heading-1-3 data-toggle=collapse role=button
                                data-target=#collapse-1-3 aria-expanded=false aria-controls=collapse-1-3>
                                <h6 class=mb-0>What if the pages of book are already missing or teared?
                                </h6>
                            </div>
                            <div id=collapse-1-3 class=collapse aria-labelledby=heading-1-3 data-parent=#accordion-1>
                                <div class=card-body>
                                    <p>You should check the book before borrowing it , If you found anything you can
                                        tell that to theh libary staff before borrowing it they will note that in the
                                        record and you will notbee fined. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right py-4"><a href=#borrow_return_books data-scroll-to data-scroll-to-offset=50
                            class="text-sm font-weight-bold">Back to top<i data-feather=chevron-up class=ml-2></i></a>
                    </div>
                </div>
                <div class=mb-md>
                    <h4 class=mb-4 id=request_book>Request books</h4>
                    <div id=accordion-2 class="accordion accordion-spaced">
                        <div class=card>
                            <div class="card-header py-4" id=heading-2-1 data-toggle=collapse role=button
                                data-target=#collapse-2-1 aria-expanded=false aria-controls=collapse-2-1>
                                <h6 class=mb-0>If i request a book what is the possibility of getting that book?</h6>
                            </div>
                            <div id=collapse-2-1 class=collapse aria-labelledby=heading-2-1 data-parent=#accordion-2>
                                <div class=card-body>
                                    <p>It depends on the book If the book is available easily we will surely add that
                                        book to our collection But if that book is rare it might take a bit longer time
                                        or in the worst case scenario it might not be added to the collection.</p>
                                </div>
                            </div>
                        </div>
                        <div class=card>
                            <div class="card-header py-4" id=heading-2-2 data-toggle=collapse role=button
                                data-target=#collapse-2-2 aria-expanded=false aria-controls=collapse-2-2>
                                <h6 class=mb-0></i>How much time will it take to get the requested book?
                                </h6>
                            </div>
                            <div id=collapse-2-2 class=collapse aria-labelledby=heading-2-2 data-parent=#accordion-2>
                                <div class=card-body>
                                    <p>It generally take 5-10 business days but sometimes it might take more than that
                                        depending on the situation.</p>
                                </div>
                            </div>
                        </div>
                        <div class=card>
                            <div class="card-header py-4" id=heading-2-3 data-toggle=collapse role=button
                                data-target=#collapse-2-3 aria-expanded=false aria-controls=collapse-2-3>
                                <h6 class=mb-0>How will i get to know when the requested book gets added to the
                                    collection?
                                </h6>
                            </div>
                            <div id=collapse-2-3 class=collapse aria-labelledby=heading-2-3 data-parent=#accordion-2>
                                <div class=card-body>
                                    <p>You can check it out in library after 10-15 days or else you will also get
                                        notified on your provided E-mail id.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right py-4"><a href=#request_book data-scroll-to data-scroll-to-offset=50
                            class="text-sm font-weight-bold">Back to top<i data-feather=chevron-up class=ml-2></i></a>
                    </div>
                </div>
                <div class=mb-md>
                    <h4 class=mb-4 id=refund>Refund</h4>
                    <div id=accordion-3 class="accordion accordion-spaced">
                        <div class=card>
                            <div class="card-header py-4" id=heading-3-1 data-toggle=collapse role=button
                                data-target=#collapse-3-1 aria-expanded=false aria-controls=collapse-3-1>
                                <h6 class=mb-0>Can we get refund When we cancle the subscription?</h6>
                            </div>
                            <div id=collapse-3-1 class=collapse aria-labelledby=heading-3-1 data-parent=#accordion-3>
                                <div class=card-body>
                                    <p>Yes ,you can get refund.</p>
                                </div>
                            </div>
                        </div>
                        <div class=card>
                            <div class="card-header py-4" id=heading-3-2 data-toggle=collapse role=button
                                data-target=#collapse-3-2 aria-expanded=false aria-controls=collapse-3-2>
                                <h6 class=mb-0>How much money will be deducted when i apply for refund?
                                </h6>
                            </div>
                            <div id=collapse-3-2 class=collapse aria-labelledby=heading-3-2 data-parent=#accordion-3>
                                <div class=card-body>
                                    <p>5% will be charged as a transaction fees and some money will be deducted
                                        according to the number of days your subscription was active.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right py-4"><a href=#refund data-scroll-to data-scroll-to-offset=50
                            class="text-sm font-weight-bold">Back to top<i data-feather=chevron-up class=ml-2></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}