{% extends 'links.html' %}
{% load static %}
{% block content %}
    <section class="slice slice-lg bg-cover bg-size--cover"
        style="background-image:url({%static '/img/backgrounds/p6.jpg' %})"> <span class="mask bg-dark opacity-8">
        </span>
        <div class="container pt-5 pb-8">
            <div class="row justify-content-center">
                <div class=col-lg-9>
                    <h2 class="text-center text-light display-3 font-weight-bolder">Your All Books History</h2>
                </div>
            </div>
        </div>
        <div class="shape-container shape-position-bottom">
            <svg xmlns=http://www.w3.org/2000/svg viewBox="0 0 1000 100" preserveAspectRatio=none>
                <path d="M 0 0 c 0 0 200 50 500 50 s 500 -50 500 -50 v 101 h -1000 v -100 z"></path>
            </svg>
        </div>
    </section>
    <section class="slice slice-lg">
        <div class="container card pt-5">
            <div class="table-responsive mb-5">
                <table class="table text-center">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Book Id</th>
                            <th scope="col">Book Name</th>
                            <th scope="col">Author Name</th>
                            <th scope="col">Borrow Date</th>
                            <th scope="col">Return Date</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>20</td>
                            <td>20</td>
                            <td><span  class="badge badge-success">Submitted</span></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>11</td>
                            <td>20</td>
                            <td><span  class="badge badge-danger">Not Submitted</span></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>0</td>
                            <td>20</td>
                            <td><span  class="badge badge-warning">Delayed</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}